  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    :root {
      --brand-colorlight: #E1FAFA;
      --brand-colordark: #E1FAFA;
      --bg-color:#0636a4;
      --stroke-color:#4973DE;;
      --text-color-primary: #E1FAFA;
      --text-color-secondary:#1353a0;

      --font-family: 'Montserrat', sans-serif;
      --h1:800 24px/135% var(--font-family);
      --h2:800 16px/140% var(--font-family);
      --h3:800 14px/140% var(--font-family);
      --text:400 16px/140% var(--font-family);
      --text-span:600 14px/145% var(--font-family);
      --text-small:400 14px/160% var(--font-family);
    }
    body {
      font: var(--text);
      background-color: var(--bg-color);
      color: var(--text-color-primary);
      font-family: var(--font-family);
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    a:hover {
      color: var(--brand-colorlight);
    }
    h1,h2,h3 {
      font: inherit
    }
    img {
      max-width: 100%; 
    }
   